<section
  *ngIf="apiLoaded | async"
  class="container"
>
  <google-map
    class="container__maps"
    [width]="_options.width"
    [height]="_options.height"
    [center]="_options.center"
    [zoom]="_options.zoom"
    (mapClick)="moveMap($event)"
    (mapMousemove)="move($event)"
  >
    <ng-content></ng-content>
  </google-map>

  <div class="container__information">
    <p>
      <strong>Latitude:</strong> {{ display?.lat }}
    </p>

    <p>
      <strong>Longitude:</strong> {{ display?.lng }}
    </p>
  </div>

</section>
