<form
  *ngIf="formMapsConfig"
  class="form-maps-config"
  [formGroup]="formMapsConfig"
>
  <div class="form-maps-config__field">

    <h4>Tamanho do Quadro:</h4>

    <div class="form-maps-config__field--flex">
      <mat-form-field class="form-maps-config__field--spacing">
        <mat-label>Width:</mat-label>
        <input
          matInput
          type="text"
          formControlName="width"
        >
      </mat-form-field>

      <mat-form-field class="form-maps-config__field--spacing">
        <mat-label>Height:</mat-label>
        <input
          matInput
          type="text"
          formControlName="height"
        >
      </mat-form-field>
    </div>
  </div>

  <div class="form-maps-config__field">

    <h4>Latitude/Longitude:</h4>

    <div class="form-maps-config__field--flex">
      <mat-form-field class="form-maps-config__field--spacing">
        <mat-label>Latitude:</mat-label>
        <input
          matInput
          type="text"
          formControlName="lat"
        >
      </mat-form-field>

      <mat-form-field class="form-maps-config__field--spacing">
        <mat-label>Longitude:</mat-label>
        <input
          matInput
          type="text"
          formControlName="lng"
        >
      </mat-form-field>
    </div>
  </div>

</form>
