$outer-spacing: 1.5rem;

.form-maps-config {
  &__field-groups {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &--flex {
      display: inline-grid;
      grid-template-columns: 100%;
    }

    &--spacing {
      margin-right: $outer-spacing;
    }
  }
}
