<section class="card-group">

  <mat-card class="card-group__card">
    <mat-card-header>
      <mat-card-title>Demonstration</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Nesse módulo você terá acesso uma demonstração pratica da utilização das principais funções da API do Google
        Maps.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <a
        mat-raised-button
        class="link"
        color="primary"
        routerLink="demonstration"
        routerLinkActive="link--active"
      >Acessar</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-group__card">
    <mat-card-header>
      <mat-card-title>Map Marker</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        O componente MapMarker exibe um marcador no mapa quando é um filho de conteúdo de um componente GoogleMap.
        Como o GoogleMap, este componente oferece uma entrada de opções, bem como entradas de conveniência para posição,
        título, rótulo e clicável, e oferece suporte a todos os eventos google.maps.Marker como saídas.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <a
        mat-raised-button
        class="link"
        color="primary"
        routerLink="map-marker"
        routerLinkActive="link--active"
      >Acessar</a>
    </mat-card-actions>
  </mat-card>

</section>
