<mat-list>
  <mat-list-item>
    <mat-icon
      aria-hidden="false"
      aria-label="Home"
      color="primary"
    >home
    </mat-icon>
    <a
      class="link"
      routerLink=""
      routerLinkActive="link--active"
    >Dashboard</a>
  </mat-list-item>

  <mat-list-item>
    <mat-icon
      aria-hidden="false"
      aria-label="Cloud Sync"
      color="primary"
    >place
    </mat-icon>
    <a
      class="link"
      routerLink="map-marker"
      routerLinkActive="link--active"
    >Map Marker</a>
  </mat-list-item>
</mat-list>
